
html{
	max-width: 1064px;
}

/***** GRID (calculated on the base of 12 parts) *****/
.full-width, .services-box {
	width: 100%;
	margin: 0 auto;
  	float: left;
}

.half-width {
	width: 50%;
	margin: 0 auto;
	float: left;
}

.five-width {
	width: 41.6%;
	margin: 0 auto;
	float: left;
}

.two-width {
	width: 16.6%;
	margin: 0 auto;
	float: left;
}


/***** NAVIGATOR BAR *****/

#NavBar{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 10px;
	height: 160px;
	padding:0 10px 0 10px;
}



nav ul li{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
	float: right;
	font-size: 20px; 
	margin: 0 10px 0 10px;
}

a:link, a:visited{
	color:#000000;
	text-decoration: none;
}

/****** BANNER *******/

#bannerBG {
  	background: #ff6666;
  	height:300px;
  	margin-top:100px;
}

#ProfilePic {
	height: 400px;
}

#intro {
	float:right;
	margin: 100px 50px 0px -70px;
}

#Intro1{
	background-color: #ff6666; 
	color: #ffffff;
	font-family: 'Cardo', serif;
	font-weight: bold;
	font-size: 36px;
}


#Intro2{
	background-color: #ff6666; 
	color: #ffcccc;
	font-family: 'Cardo', serif;
	font-weight: bold;
	font-size: 20px;
}


/****** SERVICES *******/

main{
	font-family: 'Cardo', serif;
	font-size: 24px;
}

h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bolder;
}

#serv-header {
	color: #cc9900;
}


.services-box {
	margin: 30px 0 80px 0;
	text-align: center;
}


#WebDevText, #WeddingText {
	text-align: right;
}

#IllustrationText {
	text-align: left;
	margin-top: 30px;
}

.serviceDescription {
	padding: 0 20px 0 20px;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 22px;
	padding: 0 20px 0 20px;
	margin: 0 0 0 0;
}


h4{
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-size: 22px;
	color: #990000;
	padding: 0 20px 0 20px;
	margin: 5px 0 0 0;
}


/****** ABOUT ******/
#about{
	background-color: #ff6666;
}

#aboutheader{
	color:#ffffff;
}

.AboutParagraph{
	color:#ffcccc;
	font-size: 20px;
	padding:0px 40px 15px 40px;
}

/****** CONNECT ******/

#connect{
	background-color:#ffcccc;
}

#connect-header{
	color:#990000;
}

#icons{
	display: flex;
	justify-content: center;
	height:100px;
}

#email-icon, #linkedin-icon, #github-icon{
	width:75px;
	height: auto;
	margin: 0 10px 0 10px;
}